{%extends 'base.html'%} {% block content %} {{block.super}}
<header>
  <section class="container">
    <h1 class="text-center">What do people say about your project?</h1>
  </section>
  <!-- End of container -->
</header>

<main>
  <section class="container">
    <section class="container mt-2">
      <!--   <section class="card card-block mb-2">
    <h4 class="card-title">Card 1</h4>
    <p class="card-text">Welcom to bootstrap card styles</p>
    <a href="#" class="btn btn-primary">Submit</a>
  </section>   -->
      <section class="row">
        <section class="col-md-3 col-sm-6 item mt-4">
          <section class="card item-card card-block">
            <h4 class="card-title text-center pt-2"><i class="material-icons">Project name</i></h4>
            <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset" />

            <section class="px-2 mb-2">
                        <h5 class="card-title mt-3 mb-3 text-truncate">Project moto sana</h5>
            <p class="card-text">This is a project that beats all other projects. You better give it the best rating.</p>
            </section>
          </section>
        </section>
        <section class="col-md-3 col-sm-6 item mt-4">
          <section class="card item-card card-block">
            <h4 class="card-title text-center pt-2"><i class="material-icons">Project name</i></h4>
            <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset" />

            <section class="px-2 mb-2">
                        <h5 class="card-title mt-3 mb-3 text-truncate">Project moto sana</h5>
            <p class="card-text">This is a project that beats all other projects. You better give it the best rating.</p>
            </section>
          </section>
        </section>
        <section class="col-md-3 col-sm-6 item mt-4">
          <section class="card item-card card-block">
            <h4 class="card-title text-center pt-2"><i class="material-icons">Project name</i></h4>
            <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset" />

            <section class="px-2 mb-2">
                        <h5 class="card-title mt-3 mb-3 text-truncate">Project moto sana</h5>
            <p class="card-text">This is a project that beats all other projects. You better give it the best rating.</p>
            </section>
          </section>
        </section>
        <section class="col-md-3 col-sm-6 item mt-4">
          <section class="card item-card card-block">
            <h4 class="card-title text-center pt-2"><i class="material-icons">Project name</i></h4>
            <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset" />

            <section class="px-2 mb-2">
                        <h5 class="card-title mt-3 mb-3 text-truncate">Project moto sana</h5>
            <p class="card-text">This is a project that beats all other projects. You better give it the best rating.</p>
            </section>
          </section>
        </section>
        <section class="col-md-3 col-sm-6 item mt-4">
          <section class="card item-card card-block">
            <h4 class="card-title text-center pt-2"><i class="material-icons">Project name</i></h4>
            <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset" />

            <section class="px-2 mb-2">
                        <h5 class="card-title mt-3 mb-3 text-truncate">Project moto sana</h5>
            <p class="card-text">This is a project that beats all other projects. You better give it the best rating.</p>
            </section>
          </section>
        </section>
        <section class="col-md-3 col-sm-6 item mt-4">
          <section class="card item-card card-block">
            <h4 class="card-title text-center pt-2"><i class="material-icons">Project name</i></h4>
            <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset" />

            <section class="px-2 mb-2">
                        <h5 class="card-title mt-3 mb-3 text-truncate">Project moto sana</h5>
            <p class="card-text">This is a project that beats all other projects. You better give it the best rating.</p>
            </section>
          </section>
        </section>
        <section class="col-md-3 col-sm-6 item mt-4">
          <section class="card item-card card-block">
            <h4 class="card-title text-center pt-2"><i class="material-icons">Project name</i></h4>
            <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset" />

            <section class="px-2 mb-2">
                        <h5 class="card-title mt-3 mb-3 text-truncate">Project moto sana</h5>
            <p class="card-text">This is a project that beats all other projects. You better give it the best rating.</p>
            </section>
          </section>
        </section>
        <section class="col-md-3 col-sm-6 item mt-4">
          <section class="card item-card card-block">
            <h4 class="card-title text-center pt-2"><i class="material-icons">Project name</i></h4>
            <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset" />

            <section class="px-2 mb-2">
                        <h5 class="card-title mt-3 mb-3 text-truncate">Project moto sana</h5>
            <p class="card-text">This is a project that beats all other projects. You better give it the best rating.</p>
            </section>
          </section>
        </section>
      </section>
    </section>
  </section>
  <!-- End of container -->
</main>
{% endblock %}
