{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<section class="container">
  <section class="row">
    <!-- Empty section -->
    <section class="col-md-4"></section>
    <section class="col-md-4">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <section class="panel panel-default">

        <section class="panel-heading">
          <h3 class="text-center">Sign In</h3>
        </section>
        <section class="panel-body">

          <form  action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}

            <section class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
            </section>

            <input type="hidden" name="next" value="{{next}}">

          </form>

        </section>

      </section>

    </section>
    <!-- empty section -->
    <section class="col-md-4"></section>
  </section>
</section>

{% endblock %}